.pro{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.youpimobile.com%2Fup%2Fimages%2Fpaysage%2F1_11_31_couche_de_soleil_mini.jpg&f=1&nofb=1");
    background-repeat: no-repeat;
    background-size: cover;
 margin: 20px;
 margin-left: 300px;
 margin-right: 300px;
 color: azure;
 
}
.img{
    width: 150px;
  height: 200px;
 border-radius: 50%;
margin-left: 250px;
margin-right: 900px;
align-items: center;
}